# First Project with Pandas

Looking at a spreadsheet I made, I was soon curious how I could make the table in Pandas and soon wanted to take the opportunity to put my first project in the portfolio.
Feel free to evaluate or recommend improvement materials. : D

In [14]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from IPython.display import HTML
print("Setup Complete")

Setup Complete

In [193]:
#Creating DataFrame

book_list = ({'Book': ['Art of War', 'The old man and the sea', 'The Hobbit', '1984', 'Fausto', 'The Chronicles of Narnia', 'The little pince', 'The 48 Laws of Power', 'Freud for beginners'],
              'Author': ['Sun Tzu', 'Ernest Hemingway','J. R. R. Tolkien', 'George Orwell', 'Goethe','C.S. Lewis', 'Antione de Saint-Exupéry', 'Robert Greene', 'Richard Osborne'],
             'Finished': [2016, 2021, 2018, 2021, 2018, 2018, 2020, 2018, 2016], 'Purchased': [False,False,True,False,True,True,False,True,True],
              'Midia': ['eBook', 'Audiobook', 'eBook', 'Audiobook', 'eBook', 'eBook', 'Audiobook', 'Book', 'Book']}) 

pd.DataFrame(book_list)

#df = pd.DataFrame(book_list)   
#df.to_csv(index=False)

'Book,Author,Finished,Purchased,Midia\nArt of War,Sun Tzu,2016,False,eBook\nThe old man and the sea,Ernest Hemingway,2021,False,Audiobook\nThe Hobbit,J. R. R. Tolkien,2018,True,eBook\n1984,George Orwell,2021,False,Audiobook\nFausto,Goethe,2018,True,eBook\nThe Chronicles of Narnia,C.S. Lewis,2018,True,eBook\nThe little pince,Antione de Saint-Exupéry,2020,False,Audiobook\nThe 48 Laws of Power,Robert Greene,2018,True,Book\nFreud for beginners,Richard Osborne,2016,True,Book\n'

In [194]:
# hide columns
books.head(10).style.hide_index().hide_columns(['Finished', 'Midia'])

In [7]:
book_data = '../input/bookdata/book.csv'
books = pd.read_csv(book_data)
books.head(10)

,Book,Author,Finished,Purchased,Midia
0,Art of War,Sun Tzu,2016,False,eBook
1,The old man and the sea,Ernest Hemingway,2021,False,Audiobook
2,The Hobbit,J. R. R. Tolkien,2018,True,eBook
3,1984,George Orwell,2021,False,Audiobook
4,Fausto,Goethe,2018,True,eBook
5,The Chronicles of Narnia,C.S. Lewis,2018,True,eBook
6,The little pince,Antione de Saint-Exup�ry,2020,False,Audiobook
7,The 48 Laws of Power,Robert Greene,2018,True,Book
8,Freud for beginners,Richard Osborne,2016,True,Book

In [11]:
# select rows containing Purchased True
books.filter([2, 4, 5, 7,8], axis=0)

                       Book            Author  Finished  Purchased  Midia
2                The Hobbit  J. R. R. Tolkien      2018       True  eBook
4                    Fausto            Goethe      2018       True  eBook
5  The Chronicles of Narnia        C.S. Lewis      2018       True  eBook
7      The 48 Laws of Power     Robert Greene      2018       True   Book
8       Freud for beginners   Richard Osborne      2016       True   Book

In [56]:
#Testing colors for the table
books.head(10).style.set_properties(**{'background-color': '#ADD8E6', 'color': 'black', 'border-color': '#B2FFA8'})